h1{
    color: rosybrown;
}
h3{
    color: green;
    font-family: Arial Black
}
.imgmood{
    height: 300pt;
    width: 300pt;
}
.imgchecker{
    height: 50px;
    width: 160pt;
}
span{
    font-weight: bold;
}

*{
    background-color: lightsteelblue;
    font-family: Arial;
      
}
