
*{
    background-color: lightsteelblue;
    font-family: Arial;
      
}
h1{
    color: rosybrown;
}
h3{
    color: green;
    font-family: Arial Black
}
.imgmood{
    height: 50%;
    width: 30%;
}
.imgchecker{
    height: 50px;
    width: 160pt;
}
.sad{
    height: 240px;
}
span{
    font-weight: bold;
}


a:link{
    text-decoration: none; 
}

a:hover{
    text-decoration:underline;
   color: red;
}

p{
     font-size: -1.5em;
   
}
dt {
    color: brown;
}

ol{
     display: flex;
  flex-direction: column-reverse;
}
