/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 23, 2021, 3:50:59 PM
    Author     : m80007272
*/

body{
/*    background-color: blanchedalmond;*/
}
span{
    color: red;
    font-weight: bold;
}
h1{
    color: pink;
}
.par{
    text-decoration: underline;
}
.bt{
    background-color:lightseagreen;
    height: 2.5em;
    width: 4em;
}
#form1{
    order: 1;
    padding-left: 20%;
}

#form2{
    padding-left: 30%;
    order: 2;
}
#header{ 
    background-color: gray;
    text-align: center;
    grid-area:head; 
    width: 100%;
}

#content{
    display: flex;
    grid-area:main; 
}
#footer{
    
    text-align: center;
    background-color: grey;
    grid-area: foot;
   padding-bottom: baseline;
}

form{
  display: grid;
 grid-template-columns: 25% 25% 25% 25%;
 grid-template-rows: 20% 90% 15%;
  grid-template-areas:
    'head head head head'
    'main main . .'
    'foot foot foot foot';
 
}
.imgchecker{
    height: 20px;
    width: 100pt;
       
}

